<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>PFSD SKILL</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h2 align="center">Student Academic Management System</h2>


<div style="  background-color:#96ceb4;padding:20px;font-size:1">
<a href="{% url 'adminhome' %}">Home</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'adminchangepw' %}">Change Password</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'adminstudent' %}">Student</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'adminfaculty' %}">Faculty</a>&nbsp;&nbsp;
<a href="{% url 'admincourse' %}">Courses</a>&nbsp;&nbsp;
<a href="{% url 'fcoursemapping' %}">Faculty Course Mapping</a>&nbsp;&nbsp;
<a href="{% url 'logout' %}">LogOut</a>&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
</div>

    <h3 align="right" style="colout:red"><i>Welcome {{adminuname}}</i></h3>


<br><br>

{% block 'body' %}

<p><center>I am in Admin Home</center</p>

{%  endblock  %}
</body>
</html>